/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand-1: #4766a9;
  --vp-c-brand-2: #577fd6;
  --vp-home-hero-name-color: #4766a9;
  --vp-c-indigo-3: #4766a9;
  /* --vp-home-hero-name-background: -webkit-linear-gradient(135deg, #bd34fe, #009485); */
}

/* .VPHero .VPImage {
  filter: drop-shadow(-2px 4px 6px rgba(0, 0, 0, 0.2));
  padding: 18px;
} */

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}
